<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Maiden+Orange&display=swap" rel="stylesheet">

<style type="text/css">
  .not_on_gh-pages {
    display: none;
  }

  .page-banner-heading, .page-banner-subheading {
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.4);
  }
  
  .app-banner {
	border-radius: 12px;
	box-shadow: rgba(60, 64, 67, 0.7) 0px 1px 3px 0px, rgba(60, 64, 67, 0.35) 0px 2px 6px 2px;  
  }
  
  .app-title {
	position: absolute;
	top: 43%;
	left: 16px;
	text-align: right;
	color: #a0ffa0b0;
	text-shadow: .04em .04em 0 hsl(200 30% 20%);
  }
}
</style>
